{% extends "base.html" %}

{% block app_content %}

    <h1>Register</h1>
    <div class="row">
        <div class="col-md-4">
            <form action="" method="post" role="form">
                {{ form.hidden_tag() }}
                <div class="input-group mb-3 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Username</span>
                    </div>
                    <input id="username"
                           class="form-control form-control"
                           name="username"
                           required=""
                           type="text"
                           value="">
                </div>

                <div class="input-group mb-3 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Password</span>
                    </div>
                    <input id="password"
                           class="form-control form-control"
                           name="password"
                           required=""
                           type="password"
                           value="">
                </div>
                <div class="input-group mb-3 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Secret question</span>
                    </div>
                    <input id="secret_question"
                           class="form-control form-control"
                           name="secret_question"
                           required=""
                           type="text"
                           value="">
                </div>

                <div class="input-group mb-3 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Secret answer</span>
                    </div>
                    <input id="secret_answer"
                           class="form-control form-control"
                           name="secret_answer"
                           required=""
                           type="password"
                           value="">
                </div>
                <input id="submit" name="submit" type="submit" class="btn btn-outline-dark btn" value="Register">
            </form>
        </div>
    </div>

{% endblock %}