{% extends "base.html" %}

{% block app_script %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='define_game.js') }}"></script>
{% endblock %}

{% block app_content %}

    <h1>Games page</h1>
    <div>
        {% if show_previous_game %}
        <h5>Found uncompleted game</h5>
        Information about game
        <br>
        <form id="previous_game" action="" method="post" role="form" class="form">
            {{ form.hidden_tag() }}
            <input type="submit" name="resume" class="btn btn-outline-dark btn" id="resume" value="Resume">
            <input type="submit" name="remove" class="btn btn-outline-danger btn" id="remove" value="Remove">
        </form>
        {% endif %}
    </div>
    <br>
    <h4>Start new game</h4>
    {% if show_previous_game %}
    <i>Previous game will be replaced</i>
    {% endif %}
    <div>
        <form id="game_parameters" action="" method="post" role="form" class="form">
            {{ form.hidden_tag() }}
            <table class="table table-borderless">
                <tr>
                    <td>Game type:</td>
                    <td>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                <input type="radio" class="form-check-input" name="game_type" value="FindDefinition" checked>Find definition
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" class="form-check-input" name="game_type" value="FindSpelling">Find spelling
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Game rounds:</td>
                    <td>
                        <input class="form-control col-lg-2" name="game_rounds" id="game_rounds" value="10" style="width:15">
                    </td>
                </tr>
                <tr><td>Include learned words:</td>
                    <td>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                <input type="radio" class="form-check-input" name="include_learned_words_radio" value="True" checked>Yes
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" class="form-check-input" name="include_learned_words_radio" value="False">No
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Dictionaries:</td>
                    <td>
                        <select title="All included"
                                class="selectpicker form-control"
                                multiple
                                id="select_dictionaries"
                                name="select_dictionaries">
                        {% for dictionary in dictionaries %}
                            <option>{{ dictionary.dictionary_name }}</option>
                        {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
            <input id="start_game"
                       name="start_game"
                       type="submit"
                       value="Start"
                       class="btn btn-outline-dark btn"
                       onclick="">

        </form>
    </div>

{% endblock %}