{% extends "base.html" %}

{% block app_content %}

    <h1>Games page</h1>
    <div>
        {% if show_previous_game %}
        <h5>Found uncompleted game</h5>
        Information about game
        <br>
        <a href="{{ url_for('games.play_game', game_parameter='Continue') }}"
           name="continue_previous_game" class="btn btn-outline-dark btn-sm">Resume</a>
        <a href="{{ url_for('games.play_game', game_parameter='Remove') }}"
           name="continue_previous_game" class="btn btn-outline-danger btn-sm">Remove</a>
        {% endif %}
    </div>
    <br>
    <h4>Start new game</h4>
    {% if show_previous_game %}
    <i>Previous game will be replaced</i>
    {% endif %}
    <div>
        <a href="{{ url_for('games.play_game', game_parameter='FindDefinition') }}"
            name="find_definition" class="btn btn-outline-dark btn-sm">Find definition</a>
    </div>
    <br>
    <div>
        <a href="{{ url_for('games.play_game', game_parameter='FindSpelling') }}" method
            name="find_spelling" class="btn btn-outline-dark btn-sm">Find spelling
        </a>
    </div>

{% endblock %}