{% extends "base.html" %}

{% block app_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='game.js') }}"></script>
{% endblock %}

{% block app_content %}

    <h1>{{ game_type }}</h1>
    <br>
    <p id="value">{{ 'Value' }}</p>
    <table style="width:250px">
        {% for i in range(4) %}
        <tr>
            <td>
                <input type="button"
                       name="answer"
                       id="{{ 'answer{}'.format(i) }}"
                       class="btn btn-outline-dark btn-sm"
                       style="width:100%"
                       onclick=""
                       value="{{ 'answer{}'.format(i) }}" size="25">
            </td>
        </tr>
        {% endfor %}
    </table>
    <div>
        <br><button id="button_next" name="button_next" onclick="next_round();" value="Next" class="btn btn-outline-dark btn-sm">Next</button>
    </div>

{% endblock %}
