{% extends "base.html" %}

{% block app_content %}
    <div id="dictionary_block" style="display:block">
        <h3>
            <p><span id="current_name">{{ dictionary.dictionary_name }} </span></p>

        </h3>
        <p><span id="current_description">{% if dictionary.description %} {{ dictionary.description }} {% endif %}</span></p>

        <a href="{{ url_for('main.edit_dictionary', dictionary_id=dictionary.id) }}"
            class="btn btn-outline-info btn">Edit</a>
    </div>
    <br>
    {% if dictionary.words.count() == 0 %}
        <div class="list">
            <p>Words list is empty</p>
        </div>

    {% else %}
        <div>
            <table class="table table-bordered table-striped" id="words_table">
                <thead class="thead thead-light">
                    <tr>
                        <th style="text-align:left;width:30%">Phrase</th>
                        <th style="text-align:left;width:60%">Definition</th>
                        <th style="text-align:left;width:10%">Progress</th>
                    </tr>
                </thead>
                <tbody id="words_table_body">
                {% for word in dictionary.words %}
                    <tr>
                        <td>{{ word.spelling }}</td>
                        <td>{{ word.definition }}</td>
                        <td>{% if (word.learning_index != None) and (word.learning_index.index > 0) %}
                                {{ word.learning_index.index }}
                            {% else %}
                                0
                            {% endif %}
                            %
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}