{% extends "base.html" %}

{% block app_content %}
    <div id="dictionary_block" style="display:block">
        <h3>
            <span id="current_name">{{ dictionary.dictionary_name }} </span>
        </h3>
        <span id="current_description">{% if dictionary.description %} {{ dictionary.description }} {% endif %}</span>
        <br>
        <form action="{{ url_for('main.edit_dictionary', dictionary_id=dictionary.id) }}">
            <input class="btn btn-info" type="submit" value="Edit" >
        </form>
    </div>

    {% if dictionary.words.count() == 0 %}
        <div class="list">
            <p>Words list is empty</p>
        </div>
    {% endif %}

    <div class="list">
        {% for word in dictionary.words %}
            <li>
                <p><h4><a href="{{ url_for('main.word', word_id=word.id) }}">{{ word.spelling }}</a></h4></p>
                <p>{{ word.definition }}</p>
            </li>
        {% endfor %}
    </div>

{% endblock %}