{% extends "base.html" %}

{% block app_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='dictionaries.js') }}"></script>
{% endblock %}

{% block app_content %}
    <h1>Dictionaries</h1>
    <p><button id="btn_edit" class="btn btn-outline-info btn" onclick="showFunction();">Add new</button></p>
    <div id="edit_block" style="display:none" class="collapse">
        <form class="form" action="" method="post" role="form" id="new_dictionary">
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td>
                        <input class="form-control form-control"
                               id="dictionary_name"
                               name="dictionary_name"
                               required=""
                               type="text"
                               value=""
                               data-container="body"
                               data-toggle="popover"
                               data-placement="left"
                               data-content="Please, select different name!"
                               data-trigger="manual"
                               oninput="hide_popover();"
                               placeholder="New dictionary name">
                    </td>
                    <td>
                        <input id="save_dictionary"
                               name="save_dictionary"
                               onclick="check_new_dictionary_name();"
                               type="button"
                               value="Save"
                               class="btn btn-outline-success btn">
                    </td>
                    <td>
                        <input id="btn_cancel" name="cancel" type="button" value="Cancel" class="btn btn-outline-dark btn" onclick="showFunction();">
                    </td>
                </tr>
            </table>
        </form>
        <br>
    </div>
    {% for dictionary in dictionaries %}
    {# TODO make cards #}
        <p><a href="{{ url_for('main.dictionary', dictionary_id=dictionary.id) }}"
              class="btn btn-outline-dark btn">{{ dictionary.dictionary_name }}</a></p>
    {% endfor %}


{% endblock %}
