{% extends "base.html" %}

{% block app_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='edit_document.js') }}"></script>
{% endblock %}

{% block app_content %}
    <div id="dictionary_block" class="container">
        <form id="dict_form" action="" method="post" role="form" class="form">
            {{ form.hidden_tag() }}
            <div id="buttons_block">
                <input id="save_dictionary"
                       name="save_dictionary"
                       type="submit"
                       value="Save"
                       class="btn btn-outline-success btn-sm"
                       onclick="">

                <input id="cancel"
                       name="cancel_edit"
                       type="submit"
                       value="Cancel"
                       class="btn btn-outline-dark btn-sm"
                       onclick="">

                <input id="delete_dictionary"
                       name="delete_dictionary"
                       type="button"
                       value="Delete"
                       class="btn btn-outline-danger btn-sm"
                       onclick="show_confirmation();">
            </div>
            <div id="dictionary_name_description" style="width:70%">
                <br>
                    <div class="input-group">
                        <span class="input-group-addon">Name</span>
                        <input id="dictionary_name"
                               class="form-control"
                               name="dictionary_name"
                               required=""
                               type="text"
                               size="15"
                               value="{{ dictionary.dictionary_name }}">
                    </div>
                    <span id="dictionary_id" hidden="">{{ dictionary.id }}</span>
                    {% for error in form.dictionary_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                <p>
                    <div class="input-group">
                        <span class="input-group-addon">Description</span>
                        <input id="description"
                               name="description"
                               class="form-control"
                               value="{{ dictionary.description }}">
                    </div>
                </p>
            </div>
        </form>
        <div id="delete_block" style="display:none">
            <form id="dict_delete" class="form" action="" method="post" role="form">
                {{ form.hidden_tag() }}
                <p><h4>Do you want to delete dictionary? Please confirm operation!</h4></p>
                <input id="delete"
                       name="delete"
                       type="submit"
                       value="Delete"
                       class="btn btn-outline-danger btn-sm">
                <input id="btn_cancel"
                       name="cancel"
                       type="button"
                       value="Cancel"
                       class="btn btn-outline-dark btn-sm"
                       onclick="show_confirmation();">
            </form>
        </div>
    </div>

    <div id="words_block">
        <br>
        {% if dictionary.words.count() == 0 %}
            <div>
                <p>Words list is empty</p>
            </div>
        {% endif %}
        <br>
        <div id="new_word" style="width:50%; align:left">
            <table class="table" id="words_table">
                <thead class="thead-light">
                    <tr>
                        <th style="text-align:center;">Word or phrase</th>
                        <th style="text-align:center;">Definition</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="words_table_body">
                    <tr>
                        <td>
                            <input id="new_word_spelling" value="" size="40" placeholder="Enter word or phrase">
                            <span id="spelling_msg" style="color:red"></span>
                        </td>
                        <td>
                            <input id="new_word_definition" value="" size="55" placeholder="Enter definition">
                            <span id="definition_msg" style="color:red"></span>
                        </td>
                        <td><button id="add_button" class="btn btn-outline-info" onclick="add_new_word();">Add</button></td>
                    </tr>
                    {% for word in dictionary.words %}
                    <tr id="word_{{ word.id }}">
                        <td><input id="word_spelling_{{ word.id }}"
                                   value="{{ word.spelling }}"
                                   required=""
                                   onchange="save_word({{ word.id}});"
                                   size="40"></td>
                        <td><input id="word_definition_{{ word.id }}"
                                   value="{{ word.definition }}"
                                   required=""
                                   onchange="save_word({{ word.id}});"
                                   size="55"></td>
                        <td><button id="button_delete_{{ word.id }}"
                                    class="btn btn-outline-danger btn-sm"
                                    onclick="delete_word({{ word.id }});">X</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}