{% extends "base.html" %}

{% block app_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='edit_dictionary.js') }}"></script>
{% endblock %}

{% block app_content %}
    <br>
    <div id="dictionary_block">
        <form id="dict_form" action="" method="post" role="form" class="form">
            {{ form.hidden_tag() }}
            <div id="buttons_block">
                <input id="save_dictionary"
                       name="save_dictionary"
                       type="submit"
                       value="Save"
                       class="btn btn-outline-success btn"
                       onclick="">

                <input id="cancel"
                       name="cancel_edit"
                       type="submit"
                       value="Cancel"
                       class="btn btn-outline-dark btn"
                       onclick="">

                <input id="delete_dictionary"
                       name="delete_dictionary"
                       type="button"
                       value="Delete"
                       class="btn btn-outline-danger btn"
                       onclick="show_confirmation();">
            </div>
            <div id="dictionary_name_description" style="width:80%">
                <br>
                    <div class="input-group mb-3 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Name</span>
                        </div>
                        <input id="dictionary_name"
                               class="form-control form-control"
                               name="dictionary_name"
                               required=""
                               type="text"
                               size="15"
                               value="{{ dictionary.dictionary_name }}">
                    </div>
                    <span id="dictionary_id" hidden="">{{ dictionary.id }}</span>
                    {% for error in form.dictionary_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                <p>
                    <div class="input-group mb-3 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Description</span>
                        </div>
                        <input id="description"
                               name="description"
                               class="form-control form-control"
                               value="{{ dictionary.description }}">
                    </div>
                </p>
            </div>
        </form>
        <div id="delete_block" style="display:none">
            <form id="dict_delete" class="form" action="" method="post" role="form">
                {{ form.hidden_tag() }}
                <p><h4>Do you want to delete dictionary? Please confirm operation!</h4></p>
                <input id="delete"
                       name="delete"
                       type="submit"
                       value="Delete"
                       class="btn btn-outline-danger btn">
                <input id="btn_cancel"
                       name="cancel"
                       type="button"
                       value="Cancel"
                       class="btn btn-outline-dark btn"
                       onclick="show_confirmation();">
            </form>
        </div>
    </div>

    <div id="words_block">
        <br>
        <h5>Note: List will be saved on editing</h5>
        {% if dictionary.words.count() == 0 %}
            <div>
                <p>Words list is empty</p>
            </div>
        {% endif %}
        <br>
        <div id="new_word" style="align:left">
            <table class="table table-borderless" id="words_table">
                <thead class="thead-light">
                    <tr>
                        <th style="text-align:left;width:30%">Word or phrase</th>
                        <th style="text-align:left;width:70%">Definition</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="words_table_body">
                    <tr>
                        <td>
                            <input class="form-control"
                                   id="word_spelling_0"
                                   value=""
                                   placeholder="Enter word or phrase">
                        </td>
                        <td>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend"
                                     id="group_definition_0"
                                     style="display:none">
                                    <button type="button"
                                            id="button_get_definition_0"
                                            class="btn btn-outline-success btn"
                                            onclick="get_definition(0);">Get</button>
                                    <button type="button"
                                            class="btn btn-outline-secondary btn dropdown-toggle dropdown-toggle-split"
                                            data-toggle="dropdown"
                                            id="dropdown_button_0"
                                            style="display:none"
                                            aria-haspopup="true"
                                            aria-expanded="true">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu" id="dropdown_definitions_0">
                                </div>
                                </div>
                                <input type="text"
                                       id="word_definition_0"
                                       placeholder="Enter definition"
                                       onfocus="show_get_buttons(0)"
                                       class="form-control">
                            </div>
                        </td>
                        <td>
                            <button id="add_button"
                                    class="btn btn-outline-info btn"
                                    onclick="add_new_word();">Add</button>
                        </td>
                    </tr>
                    {% for word in dictionary.words %}
                    <tr id="word_{{ word.id }}">
                        <td>
                            <input id="word_spelling_{{ word.id }}"
                                   class="form-control"
                                   value="{{ word.spelling }}"
                                   required=""
                                   onchange="save_word({{ word.id }});">
                        </td>
                        <td>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend"
                                     id="group_definition_{{ word.id }}"
                                     style="display:none">
                                    <button type="button"
                                            id="button_get_definition_{{ word.id }}"
                                            class="btn btn-outline-success btn"
                                            onclick="get_definition({{ word.id }});">Get</button>
                                    <button type="button"
                                            class="btn btn-outline-secondary btn dropdown-toggle dropdown-toggle-split"
                                            data-toggle="dropdown"
                                            id="dropdown_button_{{ word.id }}"
                                            style="display:none"
                                            aria-haspopup="true"
                                            aria-expanded="true">
                                    <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu" id="dropdown_definitions_{{ word.id }}">
                                    </div>
                                </div>
                                <input type="text"
                                       id="word_definition_{{ word.id }}"
                                       placeholder="Enter definition"
                                       value="{{ word.definition }}"
                                       onfocus="show_get_buttons({{ word.id }})"
                                       onchange="save_word({{ word.id }});"
                                       class="form-control">
                            </>
                        </td>
                        <td>
                            <button id="button_delete_{{ word.id }}"
                                    class="btn btn-outline-danger btn"
                                    onclick="delete_word({{ word.id }});">X</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}