{% extends "base.html" %}

{% block app_content %}

    <div id="dictionary_block" class="container">
        <form id="dict_form" class="form" action="" method="post" role="form">
            {{ form.hidden_tag() }}
            <input id="save_dictionary"
                   name="save_dictionary"
                   type="submit"
                   value="Save"
                   class="btn btn-success"
                   onclick="">

            <input id="cancel"
                   name="cancel_edit"
                   type="submit"
                   value="Cancel"
                   class="btn btn-default"
                   onclick="">

            <input id="delete_dictionary"
                   name="delete_dictionary"
                   type="button"
                   value="Delete"
                   class="btn btn-danger"
                   onclick="show_confirmation();">

            <div id="edit_block" style="display:none">
                <form id="dict_delete" class="form" action="" method="post" role="form">
                    {{ form.hidden_tag() }}
                    <p>
                    <h4>Do you want to delete dictionary? Please confirm operation!</h4>
                    </p>
                    <input id="delete"
                           name="delete"
                           type="submit"
                           value="Delete"
                           class="btn btn-danger">
                    <input id="btn_cancel"
                           name="cancel"
                           type="button"
                           value="Cancel"
                           class="btn btn-default"
                           onclick="show_confirmation();">
                </form>
            </div>
            <p>
                <br>{{ form.dictionary_name.label }}
                <input id="dictionary_name" name="dictionary_name" required="" type="text" value="{{ dictionary.dictionary_name }}">
                <span id="msg"></span>
                {% for error in form.dictionary_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label }}
                <textarea id="description" name="description" class="form-control" rows="3">{{ dictionary.description }}</textarea>
            </p>
        </form>
    </div>

    <br>
    {% if dictionary.words.count() == 0 %}
        <div class="list">
            <p>Words list is empty</p>
        </div>
    {% endif %}
    <br>
    <div class="list">
        {% for word in dictionary.words %}
            <li>
                <p><h4><a href="{{ url_for('main.word', word_id=word.id) }}">{{ word.spelling }}</a></h4></p>
                <p>{{ word.definition }}</p>
            </li>
        {% endfor %}
    </div>

<script>
    function show_confirmation() {
        var edit_block = document.getElementById('edit_block');
        var btn = document.getElementById('delete_dictionary');
        if (edit_block.style.display === "none") {
            edit_block.style.display = "block";
            btn.style.display = "none";
        } else {
            edit_block.style.display = "none";
            btn.style.display = "inline";
        }
    }
</script>

{% endblock %}