{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <h1>Hi, {{ current_user.username }}!</h1>

    <div>
        <form action="{{ url_for('main.dictionaries') }}">
            <input type="submit" value="Dictionaries" class="btn btn-default">
        </form>
    </div>
    <br>
    <div>
        <form action="{{ url_for('main.games') }}">
            <input type="submit" value="Games" class="btn btn-default">
        </form>
    </div>

{% endblock %}
